.centered-content {
    text-align: center; /* Center the content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
    /*height: 100vh; /* Make the container take up the full viewport height */
}

.centered-content img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
}

.custom-text {
    font-size: 24px; /* Change the font size to your preferred value */
    font-family: Arial, cursive; /* Change the font family to your preferred font */
}